@import '../variables/colors'

html, body
  font-family: Helvetica, Arial, sans-serif
  font-size: 16px
  line-height: 19px
  color: $primary-text-color

.logotype
  font-family: Helvetica, Arial, sans-serif
  font-weight: 600
  color: $light-primary-color

@each $header-selector in 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'
  #{$header-selector}, .#{$header-selector}
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif

h1, .h1
  font-size: 36px
  font-weight: 300
  line-height: 44px
  color: $primary-text-color

h2, .h2
  font-size: 28px
  font-weight: 300
  line-height: 36px
  color: $primary-text-color

h3, .h3
  font-size: 24px
  font-weight: 300
  line-height: 30px
  color: $primary-text-color

h4, .h4
  font-size: 20px
  font-weight: 300
  line-height: 26px
  color: $primary-text-color

h5, .h5
  font-size: 18px
  font-weight: 300
  line-height: 22px
  color: $primary-text-color

p, span
  font-size: inherit
  line-height: inherit
