$primary-color: #00BCD4
$dark-primary-color: #0097A7
$light-primary-color: #B2EBF2

$accent-color: #FF5722
$secondary-accent-color: #FF9800

$whitish: #FEFEFE

$primary-text-color: #212121
$light-text-color: $whitish
$divider-color: #BDBDBD

@function darken($color)
  @return $color - rgb(20, 20, 20)

@function lighten($color)
  @return $color + rgb(20, 20, 20)
