@import '../variables/colors'
@import '../layout/breakpoints'

.form
  width: 400px
  margin: 10px
  @include for-mobile
    width: 300px
  .form-row
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    padding: 10px 0
    .form-label
      font-size: 22px
      width: 100px
    .form-input[type="email"],
    .form-input[type="password"]
      width: 300px
      padding: 5px
      &:focus
        background-color: $light-primary-color
