@import '../variables/colors'
@import '../base/mixins'

.landing-card
  padding: 5px 0
  width: 100%
  height: 100%
  @include diagonal-gradient($primary-color, black)
  color: $light-text-color
  h1.brand-name
    font-size: 80px
    line-height: 100px
  p
    font-size: 35px
    line-height: 55px
  small
    font-size: 20px
    line-height: 40px
