@import '../variables/colors'
@import '../base/mixins'
@import '../layout/breakpoints'

.top-left-container
  position: absolute
  top: 0
  right: 0
  .nav-list
    display: inline-flex
    flex-wrap: wrap
    justify-content: flex-end
    align-items: center
    background-color: transparent
    .nav-item
      font-size: 20px
      line-height: 26px
      display: inline
      color: $light-text-color
      padding: 20px 30px
      text-decoration: none
      @include transition(color, 0.5s)
      &:hover
        background-color: $dark-primary-color
      @include for-mobile
        padding: 5px 15px
        font-size: 20px
        line-height: 24px
