@import '../utils/mixins'
@import '../layout/breakpoints'
@import '../layout/grid-measures'
@import '../variables/colors'

.app-container
  background-color: $primary-color

.header-bar
  background-color: $primary-color
.header
  background-color: transparent
.background
  background: white
.content
  background-color: $whitey
  padding: 20px
  section:not(:first-child)
    padding-top: 20px
  section
    padding-bottom: 20px
    border-bottom: $divider-color 2px solid
    h1
      margin-bottom: 30px
.footer
  background-color: $primary-color

.button-container
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: center
  button:not(:last-child)
    margin-right: 10px

#invoice-table .prototype
    display: none
